/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; /* 修改为更好看的字体 */
    color: #333;
    line-height: 1.6;
    background-color: #fff;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth; /* 平滑滚动效果 */
}

/* Header */
/* header {
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    max-width: 70%;
    margin: 0 auto;
} */

/* 固定头部样式 */
.fixed-header {
    position: fixed; /* 固定在页面顶部 */
    top: 0;
    width: 100%; /* 设置 header 宽度为 70% */
    /* left: 0; */
    /* width: 100%; 宽度占满屏幕 */
    background-color: #ffffff; /* 背景为白色 */
    z-index: 1000; /* 确保固定部分在最前面 */
    border-bottom: 1px solid #e0e0e0; /* 添加底部分割线 */

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; 限制最大宽度 */
    margin: 0 auto; /* 水平居中 */
    width: 70%;
}

.header-left h1 {
    font-size: 36px;
    color: #1C3657;
    margin: 0;
}

.header-left h2 {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}

.header-left p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.header-right .logo {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
}

/* Navigation */
nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #1C3657;
    /* font-weight: bold; */
    /* border-bottom: 2px solid #1C3657; */
    /* padding-bottom: 2px; */
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}
/* Main Section */
main {
    /* max-width: 1200px; 设置最大宽度 */
    margin: 40px auto; /* 左右居中，增加顶部间距 */
    margin-top: 200px; /* 确保主内容不会被固定头部遮挡 */
    padding: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 70%;
    margin: 0 auto;
}

.about-text {
    flex: 3;
}

.about-photo {
    flex: 1;
    text-align: center;
}

.profile-pic {
    /* border-radius: 50%; */
    /* width: 250px; */
    /* height: 300px; */
    width: 100%;
    object-fit: cover;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Headings */
h3 {
    color: #1C3657;
    font-size: 24px;
    margin-bottom: 20px;
}

section {
    scroll-margin-top: 190px; /* 根据 fixed-header 的高度调整 */
}

/* Section Header */
.section-header {
    background-color: #f5f5f5; /* 浅灰色背景 */
    padding: 50px 0; /* 上下内边距 */
    text-align: center;
}

.section-header h2 {
    font-size: 28px;
    color: #1C3657;
    margin: 0;
}

/* Publication List */
.publication-list {
    background-color: #ffffff; /* 保持内容背景为白色 */
    padding: 20px 20px 40px; /* 设置内容的内边距 */
    margin: 0 auto;
    max-width: 70%;
}

.publication-item {
    margin-bottom: 30px;
}

.publication-item h3 {
    font-size: 18px;
    margin: 0;
}

.publication-item h3 a {
    text-decoration: none;
    color: #1C3657;
    font-weight: bold;
    border-bottom: 2px solid #1C3657;
    padding-bottom: 2px;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.publication-item h3 a:hover {
    color: #005bb5;
    border-bottom-color: #005bb5;
}

.publication-item p {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
    line-height: 1.5;
    /* font-style: italic; */
}

.content-container {
    max-width: 70%; /* 限制内容宽度 */
    margin: 0 auto; /* 居中内容 */
    text-align: left; /* 左对齐文本 */
    /* 行间距 */
    line-height: 1.1;
    color: #555;
}

/* Footer (如果需要) */
footer {
    text-align: center;
    padding: 10px 0;
    color: #777;
    font-size: 14px;
}

/* Collapsible abstract styling */
.abstract-container {
    margin-top: 5px;
}

.abstract-preview {
    display: inline;
    margin-right: 5px;
}

.abstract-full {
    display: none;
    margin-top: 5px;
}

.abstract-toggle {
    color: #4b6cb7;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9em;
    display: inline-block;
}

.abstract-toggle:hover {
    color: #182848;
}
